p {
  margin: 0;
}
.profile {
  width: 600px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  padding: 20px;
  margin-bottom: 50px;
}
.description {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background: rgb(180, 148, 148);
  padding: 10px;
  margin-bottom: 30px;
}
.name {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
}
.tag,
.location {
  font-size: 24px;
  font-weight: 600;
  color: #979494;
  margin-bottom: 15px;
}
.location {
}
.stats {
  width: 400px;
  height: 100px;
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  box-sizing: 1px;
  border-color: #979494;
  padding: 0;
  margin: 0;
  background: rgb(221, 219, 219);
}
.stats > li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.stats > li {
}
.label {
  font-size: 24px;
  font-weight: 600;
  color: #979494;
}
.quantity {
  font-size: 24px;
  font-weight: 800;
  color: #000;
}
